<flights-filter (onFilter)="getFlights($event)"></flights-filter>

<section [hidden]="!flights.length" style="margin-top:20px;">
  <mat-card>
    <mat-card-subtitle>Voos</mat-card-subtitle>
    <mat-card-content>
      <table style="width: 100%" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
        <thead>
          <tr>
            <th>Voo</th>
            <th>Saida</th>
            <th>Chegada</th>
            <th mat-sort-header="time">Tempo Total de voo</th>
            <th mat-sort-header="price">Preço</th>
            <th>Operadora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights">
            <td>{{flight.code}}</td>
            <td>{{flight.departureTime}}</td>
            <td>{{flight.arriveTime}}</td>
            <td>{{flight.time}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.provider}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</section>