<mat-card>

    <mat-card-subtitle>Buscar voos</mat-card-subtitle>

    <mat-card-content>

        <form name="form" #form="ngForm">
            <div style="display: inline-block;width: 30%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Selecione a origem do voo:</mat-label>
                    <mat-select role="option" [(value)]="flight.departure" required>
                        <mat-option>Selecione um aeroporto</mat-option>
                        <mat-option *ngFor="let item of airports" [value]="item.code">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style=" display: inline-block;width: 30%;margin-left: 10px;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Selecione o destino do voo:</mat-label>
                    <mat-select [(value)]="flight.arrive" required>
                        <mat-option>Selecione um aeroporto</mat-option>
                        <mat-option *ngFor="let item of airports" [value]="item.code">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="display: inline-block;width: 20%;margin-left: 10px;">
                <mat-form-field>
                    <input matInput [min]="dateValidator.min" [max]="dateValidator.max" [(ngModel)]="flight.viewDate"
                        name="date" #date="ngModel" [matDatepicker]="picker" placeholder="Data do voo" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div style="display: inline-block;">
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="filter();">Buscar</button>
            </div>
        </form>

    </mat-card-content>

</mat-card>